<configuration>
    <system.webServer>
       <rewrite>
  <rules>
    <rule name="1" stopProcessing="true">
      <match url="^(.*)\/bower_components\/(.*)$" />
      <action type="Rewrite" url="/bower_components/{R:2}" />
    </rule>
    <rule name="2" stopProcessing="true">
      <match url="^.*$" />
      <conditions logicalGrouping="MatchAny">
        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" /> 
        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" />
      </conditions>
      <action type="None" />
    </rule>
    <rule name="3" stopProcessing="true">
      <match url="^(.*)" />
      <action type="Rewrite" url="/index.html" />
    </rule>
  </rules>
</rewrite>
      
    </system.webServer>
</configuration> 