<div class="modal-header">
	<h2 class="modal-title" id="modalForgotPasswordLabel">Forgot password?</h2>
</div>
<div class="modal-body">
	<div class="form form-secondary form-forgot-pass">
		<form method="post">
			<div class="form-body">
				<div class="row">
					<div class="col-md-6">
						<div class="form-content">
							<p>We'll email you instructions<br /> on how to reset your password.</p>
						</div><!-- /.form-content -->
					</div><!-- /.col-md-6 -->

					<div class="col-md-6">
						<div class="form-row">
							<label for="field-email" class="form-label form-label-alpha">Email</label>

							<div class="form-controls">
                                <input type="email" ng-model="forgetUser.UserLogin" class="form-control" name="UserLogin" id="field-email" placeholder="" />
							</div><!-- /.form-controls -->
						</div><!-- /.form-row -->

						<div class="error">
                            <p>{{errorMessage}}</p>
						</div><!-- /.error -->

						<div class="form-actions">
							<a ng-click="popup_login($event)" href="#" class="btn btn-default btn-sm">Return to Log In</a>

							<input ng-click="vm.submit($event)" type="submit" value="Send" class="btn btn-success btn-bold btn-sm">
						</div><!-- /.form-actions -->
					</div><!-- /.col-md-6 -->
				</div><!-- /.row -->
			</div><!-- /.form-body -->
		</form>
	</div><!-- /.form -->
</div>
